body {
  background-color: rgb(39, 39, 39);
  font-family: 'Garamond', '游明朝';
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

h1 {
  position: relative; left: 49.7vw;
  width: 40vw;
  color: gray;
  font-size: 5vw;
}

.back {
  position: relative; top: -8vw;
  font-size: 4vw;
  color: transparent; -webkit-text-stroke: 0.5px white;
  opacity: 0.7;
}

.back:hover {
  opacity: 1;
}

p {
  color: white;
}

.contents {
  display: none;
}

.cd {
  margin-top: -6vw;
  text-align: right;
  font-size: 5vw; font-weight: 600;
  color: gray;
}

.title {
  font-size: 3vw;
  padding-bottom: 1vw;
  border-bottom: 8px solid gray;
}

.content {
  margin-left: 1vw;
}

.fa-angle-double-up {
  position: fixed; top: 40vw; left: 94.5vw; z-index: 10;
  cursor: pointer;
  color: white;
  font-size: 5vw;
  opacity: 0.5;
}

.fa-angle-double-up:hover {
  opacity: 1;
}