@media (max-width: 1000px) {
  h1 {
    left: 45vw;
  }

  .title {
    font-size: 6vw;
  }

  .fa-angle-double-up {
    display: none;
  }

  .element {
    width: 30vw; height: 30vw;
    float: none;
    margin: 0 auto 10vw auto;
  }

  .element a {
    font-size: 4vw;
    line-height: 30vw;
  }

  .element a:hover {
    line-height: 29.8vw;
  }

  .work img {
    width: 100%;
  }

  .folder {
    font-size: 5vw;
  }

  .fa-folder-open {
    font-size: 10vw;
  }

  .fab {
    font-size: 10vw;
  }

  li {
    font-size: 3vw;
  }

  form {
    width: 60vw;
  }

  form p {
    font-size: 6vw;
  }

  .form {
    height: 6vw;
  }

  textarea {
    font-size: 4vw;
  }

  .btn {
    margin-bottom: 10vw;
  }
}